{% extends 'todo_main/common/header.html' %}<!-- 해당 위치의 파일을 상속하겠다는 의미  main block에 자식 템플릿이 구현을 하는 영역-->
{% load static %}
{% block main %}
<section id="blog">
    <div class="container">
        <!--{{todo_list}}-->
        <center><h2>{{ todo_list.title }}</h2></center>
        <center><p>{{todo_list.content | linebreaksbr}}</p></center>
        <center><p>마감기한:{{todo_list.end_date | linebreaksbr}}</p></center>
        <center><p><a href='{% url 'todo_board:todo_board_update' pk=todo_list.pk %}'>수정</a>
        <a href='{% url 'todo_board:todo_board_delete' pk=todo_list.pk %}'>삭제</a></p></center>

    </div>
</section>

{% endblock main %}ß